*{
    padding: 0;
    margin: 0;
}
body{
  
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
     display: flex;
       flex-direction: column;
  min-height: 100vh;
}
header{
    width: 100%;
   min-height: 100px;
  background-color: rgb(255, 102, 64); 
background-image: url(https://edube.org/uploads/media/default/0001/04/portfolio.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: justify;
display: flex;         /* Para centrar el contenido del header si es necesario */
  

}


h1{
    position: relative;
    left: 5%;
    padding-top: 1em;
    color: rgb(0, 128, 0);
}
h2{
    color: hsl(210, 100%, 50%); /* Blue using HSL value */
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 8px;
}
main{
    background:linear-gradient(lightblue, white);
     flex: 1;
  padding: 20px;
}
p{
    font-size: 18px;
}

ul{
    list-style-type: square;
    line-height: 1.6;
 
}
ul>li{
    padding-left: 10px;
}

a:link{
    color: darkblue;
}
a:visited{
        color: purple;
}
a:hover{
    color: red;
}
main{
  height: 60%;
}
section{
    padding: 8px 20px;
    border-top: 2px dashed black;
}


img{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
footer{
    height: 20%;
    text-align: center;
    padding: 30px;

}