@sixday: 1.6em;


@sixday:2em;

.common_verb(@counter){
   background-color: lightcoral;
   color: black;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   padding: @counter;
}

.lista{
    .common_verb(15px);
     margin-top: @sixday;
}